* {
    margin: 0;
    padding: 0;
  }
  
  a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
  }

  html{
    scroll-behavior: smooth;
  }

  
  body{
    background-image: linear-gradient(to right, silver, rgba(230, 226, 226, 0.322));
  }

  h2{
    margin-top: 15px;
    text-align: center;
    padding: 20px;
  }

  #Produtos{
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 700%;
    min-width: 100%;
  }

  .produtos{
    max-width:100%;
    max-height: 600px;
  }

  #work{
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 700px;
    min-width: 100%;
  }

  .trabalho{
    max-width: 600px;
    max-height: 600px;
  }